@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled{
  cursor: not-allowed;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.outlineNone{
  outline: none;
}
.focusNone:focus{
  box-shadow: none !important;
}

.bg-cover{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.rotationLoading{
  width: 150px;
  opacity: .8;
  animation: rotation 3s linear infinite;
}
@keyframes rotation{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}